/* Déclaration des polices */
@font-face
{
    font-family: "Frutiger";
    src: url("/ressources/fonts/Frutiger-Cn.otf");
    font-weight: normal;
    font-style: normal;
}

body
{
    margin: 0;
    font-family: "Frutiger";
}

/* Gestion du menu hamburger */

/* Bouton du menu hamburger */
header button
{
    color: #31aa4e;
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 10px;
}
header button span
{
    display: block;
    width: 25px;
    height: 4px;
    margin: 5px 0 5px 0;
    background: #31aa4e;
    border-radius: 3px;
    z-index: 1;
}

/* Menu hamburger */
header nav
{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 250px;
    background: #FFF;
    top: 0;
    left: 0;
    overflow-y: visible;
    overflow-x: hidden;
    transform: translateX(-250px);
    transition: all;
    transition-duration: .2s;
}
header nav.active
{
    transform: translateX(0);
}
header nav a
{
    padding: 15px;
    color: #31aa4e;
    text-decoration: none;
    font-size: 20px;
    padding-left: 20px;
    font-family: "Helvetica";
}
header nav a:hover
{
    background: #f2f2f2;
}
header nav span.titre_categorie
{
    font-size: 20px;
    padding: 15px;
    background: #f2f2f2;
    color: #31aa4e;
    font-weight: bolder;
}
header nav a .info_trafic_etat
{
    color: grey;
}
header nav a .info_trafic_etat.connexion
{
    animation: connexion 1s infinite alternate;
}
header nav a .info_trafic_etat.normal
{
    color: greenyellow;
}
header nav a .info_trafic_etat.perturbations
{
    color: red;
}
@keyframes connexion
{
    from 
    {
        color: grey;
    }
    to
    {
        color: orange;
    }
}

/* Opacité du menu */
.opacite
{
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: all 0.2s;
    position: fixed;
}
.opacite.active /* Quand l'event est appelé */
{
    visibility: visible;
    background: rgba(0, 0, 0, 0.75);
    transition: all 0.5s;
}

/* Loader */
.loader
{
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
}
.loader h2
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: #31aa4e;
}

/* En-tête de la page */
header
{
    position: fixed;
    top: 0;
    background: #FFF;
    width: 100%;
    height: 35px; 
    display: flex;
    padding: 10px 0 10px 0;
    box-shadow: 0 0 2px gray;
    z-index: 5;
}
header img
{
    width: 100px;
    height: auto;
    margin: -5px auto;
}

/* Contenu de la page */
main
{
    margin: 65px 10px 0;
}
main h1
{
    color: #31aa4e;
    font-size: 30px;
    text-align: center;
}
main h2
{
    color: #31aa4e;
    font-size: 20px;
    text-align: center;
}
main a
{
    color: #31aa4e;
    text-decoration: none;
}
main p b
{
    color: #31aa4e;
}

/* Page des horaires */
main .container_centered form
{
    display: flex;
    flex-direction: column;
    margin: 0 0 15px 0;
}
main .container_centered form select
{
    box-shadow: 0 0 2px gray;
    padding: 5px;
}

/* Page des paramètres et certaines propriétés du conteneur  princpal */
main .settings, .container_centered
{
    box-shadow: 0 0 2px gray;
    border: none;
    display: flex;
    margin: 0 30% 50px;
    padding: 0 50px 10px;
}
main .container_centered
{
    flex-direction: column;
}
main .container_centered #arrets
{
    border: none;
    padding: 5px;
    box-shadow: 0 0 2px grey;
}
main .container_centered #bouton_envoyer
{
    margin: 15px auto auto;
    background: none;
    border: none;
    box-shadow: 0 0 2px grey;
    border-radius: 5px;
    padding: 10px;
    font-weight: bolder;
    cursor: pointer;
}

/* Div de sélection de lignes */
main .container_centered #lignes
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
main .container_centered #lignes a
{
    margin: 5px;
}
main .container_centered #lignes a img
{
    width: 50px;
    height: auto;
}

/* Div de sélection du sens */
main .container_centered #sens
{
    display: flex;
    flex-direction: column;
    text-align: center;
}
main .container_centered #sens a
{
    margin-bottom: 15px;
}

/* Div des horaires */
main .container_centered #barre
{
    display: flex;
    justify-content: space-between;
}
main .container_centered #barre #ajout_favoris, main .container_centered #barre #retour_arriere
{
    cursor: pointer;
}
main .container_centered #horaires .horaires_ligne_tableau
{
    display: flex;
    padding: 5px;
}
main .container_centered #horaires .horaires_ligne_tableau:nth-child(odd)
{
    background: #f2f2f2;
}
main .container_centered #horaires .heures
{
    margin-right: 10px;
    font-weight: bolder;
    color: #31aa4e;
}

/* Div des favoris */
main .container_centered span
{
    margin-bottom: 15px;
}

/* Div des paramètres */
main .settings
{
    padding: 10px 50px;
    flex-direction: column;
}
main .settings .settings_categories
{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}
main .settings .checkbox
{
    border: 1px solid grey;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}
main .settings .checkbox.active
{
    background: #31aa4e;
}

/* Notification du pied de page */
footer .message
{
    position: fixed;
    width: 100%;
    background: #FFF;
    padding: 0 15px;
    bottom: 0;
    box-shadow: 0 0 2px grey;
    visibility: hidden;
    transform: translateY(51px);
    transition: all;
    transition-duration: .2s;
}
footer .message.active
{
    visibility: visible;
    transform: translateY(0);
}

/* Libertan */
main .libertan_cercle_defaut
{
    margin: auto;
    width: 200px;
    border-radius: 50% / 100% 100% 0 0;
    border: 15px solid grey;
    border-bottom: none;
    animation: tourne 5s linear infinite;
    transform-origin: center bottom;
}
main .libertan_cercle_defaut .libertan_cercle_defaut
{
    width: 150px;
    height: 75px;
    margin-top: 10px;
    animation-duration: 2.5s;
}
@keyframes tourne
{
    to
    {
        transform: rotate(360deg);
    }
}
main .libertan_cercle
{
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 150px;
    line-height: 200px;
    text-align: center;
}
main .libertan_cercle.erreur
{
    border: 15px solid #d00000;
    color: #d00000;
}
main .libertan_cercle.compatible
{
    border: 15px solid #007305;
    color: #007305;
    animation: transmission 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}
@keyframes transmission
{
    0%, 100%
    {
        opacity: 0.25;
    }
    50%
    {
        opacity: 1;
    }
}
main .libertan_texte
{
    text-align: center;
}
main .libertan_texte.defaut
{
    margin-top: 130px;
}

/* Media Queries */
@media screen and (max-width: 1000px)
{
    main .settings, .container_centered
    {
        margin: 0 5% 50px;
    }
}
